doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        link(href="/css/main.css" rel="stylesheet")
        script(src="/jquery/jquery.js")
        script(src="/js/index.js")
        script(src="/js/actions.js")
    body.min-h-screen.relative
        if errorMessage
            div(id="errorMessage").flex.items-center.justify-between.bg-red-500.text-white.px-4.py-2
                p.
                    #{errorMessage}
                span(id="closeErrorMessage").cursor-pointer.text-sm Close
        if successMessage
            div(id="successMessage").flex.items-center.justify-between.bg-green-500.text-white.px-4.py-2
                p.
                    #{successMessage}
                span(id="closeSuccessMessage").cursor-pointer.text-sm Close
        header
            include navbar.pug
        block content
        include footer.pug
