<nav class="w-full bg-slate-200">
    <div class="flex justify-between px-8 py-4">
        <a href="/admin">
            <div class="font-bold">
                ROOKIE STORE
            </div>
        </a>
        <div class="flex space-x-4">
            {{#if userinfo}}
            <a href="/admin/authors">Authors</a>
            <a href="/admin/publishers">Publishers</a>
            <a href="/admin/categories">Categories</a>
            <a href="/admin/customers">Customers</a>
            <a href="/admin/products">Products</a>
            <a href="/admin/orders">Orders</a>
            <p>Hi, {{userinfo.name}}</p>
            <a href="/auth/logout">Logout</a>
            {{else}}
            <a href="/auth/login">Login</a>
            {{/if}}
        </div>
    </div>
</nav>
